
body {background-color:blue}
a {
	color:red:
h1 }
a:hover{
	color:red:
}
a:body {
background-color:red:
}		
<link rel="stylesheet"type="text/css" href="main.css" />
<title>Sidebar</title>
